#collectorStatusContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.glyph {
    float: left;
    padding: 5px 20px;
}

.item-oneline {
    padding: 5px;
}

.title, .title2 {
    font-weight: bolder;
    font-size: 22px;
}

.title {
    margin-top: 40px;
}

.title2 {
    margin-top: 10px;
}

.legend {
    display: inline-block;
    padding: 0px 8px;
}

.legends {
    font-size: 12px; 
    margin-top: 40px;
}